!!! 5
%html
  %head
    %title Answer Finder - AI回答支援システム
    %link{rel: "stylesheet", type: "text/css", href: "css/bootstrap.css"}
    %link{rel: "stylesheet", type: "text/css", href: "css/sample.css"}
    %link{rel: "stylesheet", type: "text/css", href: "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" }
  %body
    .jumbotron.special
      .honoka
      .container
        .row
          .col-xs-12.outline
            %h1 AIがあなたのコールセンター業務を支援します。
            %p AI回答支援システム：Answer Finder
    %section.section.section-default.point
      .container
        .row
          .col-xs-12.subtitle
            %h2 何が重要なのかを学び、より賢く進化します。
        .row
          .col-md-3.col-sm-6.point-box
            .point-circle.start
              %i.fa.fa-check
            .point-description
              %h4 質問への回答候補を提示
              %p 過去の回答履歴から質問への回答候補を探し出します。
          .col-md-3.col-sm-6.point-box
            .point-circle.start
              %i.fa.fa-check
            .point-description
              %h4 回答結果のフィードバック
              %p 回答時に参考にした回答候補を教えてください。
          .col-md-3.col-sm-6.point-box
            .point-circle.replace
              %i.fa.fa-refresh
            .point-description
              %h4 重要な表現を学習
              %p 質問文と回答候補から重要な表現が何かを学びます。
          .col-md-3.col-sm-6.point-box
            .point-circle.compass
              %i.fa.fa-github-alt
            .point-description
              %h4 学習結果を確認
              %p 学習前を学習後の結果を簡単に比較することができます。
    %section.section.section-inverse.japanese-font
      .container
        .row
          .col-xs-12.subtitle
            %h2 検索キーワードを考える必要はありません。
            
    %section.section.section-default.case-stady
      .container
        .row
          .col-xs-12.subtitle
            %h2 すでにAIの支援は始まっています。
            %p 実際に使用いただいているお客様をご紹介します。
        .row
          .col-md-4
            .thumbnail
              %img{src: "img/case01.png"}
              .caption.text-center
                %h4 良品計画様
          .col-md-4
            .thumbnail
              %img{src: "img/case02.png"}
              .caption.text-center
                %h4 ほんにゃら商事様
          .col-md-4
            .thumbnail
              %img{src: "img/case03.png"}
              .caption.text-center
                %h4 株式会社なんちゃら様
          .col-md-4
            .thumbnail
              %img{src: "img/case04.png"}
              .caption.text-center
                %h4 こんにちはこんにちは



